body {
    margin: 0;
}

.menu {
    width: 100%;
    margin: auto;
    position: relative;
    height: 100px;
    
}

.cabecera h1 {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.cabecera a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.cabecera a:hover {
    background-color: #00af3b;
}

.cabecera a {
    padding-inline: 20px;
    padding-block: 15px;
    display: inline-block;
}

.icono {
    font-size: 20px;
    margin: 10px;
    margin-left: 300px;
    width: 70px;
    height: auto;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0,100,0,0.8);
}

.menu {
    display: flex;
    align-items: center;
}

.icono {
    margin-right: 10px;
    width: 100px; 
    height: 100px;
}

.dropdown {
    margin-left: 10px;
}