body {
    margin: 0;
}

.cabecera {
    font-family: Arial, sans-serif;
    background-color: #191919;
    font-size: 16px;
}

.menu {
    width: 100%;
    margin: auto;
    position: relative;
    height: 100px;
}

.cabecera a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.cabecera a:hover {
    background-color: #00af3b;
}

.cabecera a {
    padding-inline: 20px;
    padding-block: 15px;
    display: inline-block;
}

.icono {
    font-size: 20px;
    margin: 10px;
    width: 70px;
    height: auto;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa; /* Cambia el color de fondo según tus preferencias */
}

.menu {
    display: flex;
    align-items: center;
}

.icono {
    margin-right: 10px;
    width: 40px; /* Ajusta el tamaño del icono según tus necesidades */
    height: 40px;
}

.dropdown {
    margin-left: 10px;
}