body {
    background-image: url(../images/fondo.jpg);
}

.galeria {

    width: 300px;
    margin: 10px;
    border: 2px solid black;
    float: right;
    margin-top: 100px;
    margin-right: 50px;
    background-color: rgba(0,100,0,0.8);
}

.galeria a:hover {
    border: 2px solid black;
}

.galeria img {
    width: 100%;
}

.galeria div {
    text-align:center;
    padding-bottom: 10px;
    padding-inline: 20px;
}

.footer {
    margin-top: 1000px;
}

.texto {
    background-color: rgba(0,100,0,0.8);
    text-align: center;
    width: 700px;
    margin-left: 200px;
    margin-top: 100px;
}