body {
    background-image: url(../images/fondo.jpg);
}

.caza {
    float: left;
    text-align: center;
    background-color: rgba(0,100,0,0.8);
    margin-left: 400px;
    margin-right: 10px;
}

.pesca {
    float: right;
    text-align: center;
    background-color: rgba(0,100,0,0.8);
    margin-right: 400px;
    margin-left: 10px;
}

.cazapesca{
    margin-top: 200px;
}

.footer {
    margin-top: 500px;
}