body {
    background-image: url(../images/fondo.jpg);
}

.caza {
    float: left;
    text-align: center;
    background-color: black;
}

.pesca {
    float: right;
    text-align: center;
    background-color: darkgreen;
}